.button {
  --button-bg: transparent;
  --button-bg-hover: var(--button-bg);
  --button-bg-pressed: var(--button-bg-hover);
  --button-fg: currentColor;

  @apply relative isolate inline-flex h-10 w-fit origin-center cursor-(--cursor-interactive) items-center justify-center gap-2 rounded-3xl bg-(--button-bg) px-4 text-sm font-medium whitespace-nowrap text-(--button-fg) outline-none select-none no-highlight;

  @variant md {
    @apply h-9;
  }

  transition:
    transform 250ms var(--ease-smooth),
    scale 250ms var(--ease-smooth),
    background-color 100ms var(--ease-out),
    box-shadow 100ms var(--ease-out);
  @apply transform-gpu motion-reduce:transition-none;

  @variant hover {
    @apply bg-(--button-bg-hover);
  }

  @variant pressed {
    @apply scale-(--scale-pressed) bg-(--button-bg-pressed);
  }

  @variant focus-visible {
    @apply status-focused;
  }

  @variant pending {
    @apply status-pending;
  }

  @variant disabled {
    @apply status-disabled;
  }

  & svg:not([data-slot="spinner"] svg, [data-slot="link-icon"] svg) {
    @apply pointer-events-none -ms-0.5 -me-0.5 mbs-0.5 mbe-0.5 size-5 shrink-0 self-center;

    @variant sm {
      @apply mbs-1 mbe-1 size-4;
    }
  }
}

.button--sm {
  @apply h-9 px-3;

  @variant md {
    @apply h-8;
  }

  @variant pressed {
    @apply scale-(--scale-pressed-sm);
  }

  & svg:not([data-slot="spinner"] svg, [data-slot="link-icon"] svg) {
    @apply size-4;
  }
}

.button--lg {
  @apply h-11 text-base;

  @variant md {
    @apply h-10;
  }

  @variant pressed {
    @apply scale-(--scale-pressed-lg);
  }
}

.button--primary {
  --button-bg: var(--accent);
  --button-bg-hover: var(--accent-hover);
  --button-bg-pressed: var(--accent-hover);
  --button-fg: var(--accent-foreground);
}

.button--secondary {
  --button-bg: var(--default);
  --button-bg-hover: var(--default-hover);
  --button-bg-pressed: var(--default-hover);
  --button-fg: var(--accent-soft-foreground);
}

.button--tertiary {
  --button-bg: var(--default);
  --button-bg-hover: var(--default-hover);
  --button-bg-pressed: var(--default-hover);
}

.button--ghost,
.button--outline {
  --button-bg: transparent;
  --button-bg-hover: var(--default);
  --button-bg-pressed: var(--default);
  --button-fg: var(--default-foreground);
}

.button--outline {
  --button-bg-hover: var(--default-soft-hover);

  @apply border border-border;
}

.button--danger {
  --button-bg: var(--danger);
  --button-bg-hover: var(--danger-hover);
  --button-bg-pressed: var(--danger-hover);
  --button-fg: var(--danger-foreground);
}

.button--danger-soft {
  --button-bg: var(--danger-soft);
  --button-bg-hover: var(--danger-soft-hover);
  --button-bg-pressed: var(--danger-soft-hover);
  --button-fg: var(--danger-soft-foreground);
}

.button--icon-only {
  @apply w-10 p-0;

  @variant md {
    @apply w-9;
  }
}

.button--icon-only.button--sm {
  @apply w-9;

  @variant md {
    @apply w-8;
  }
}

.button--icon-only.button--lg {
  @apply w-11;

  @variant md {
    @apply w-10;
  }
}

.button--full-width {
  @apply w-full;
}
