.accordion {
  @apply w-full;
  contain: layout style;
}

.accordion__body {
  @apply text-sm;
}

.accordion__body-inner {
  @apply px-4 pt-0 pb-4 text-muted;
}

.accordion__heading {
  @apply flex;
}

.accordion__indicator {
  @apply ml-auto inline-flex size-4 shrink-0 items-center justify-center text-muted transition duration-250 motion-reduce:transition-none;

  @variant expanded {
    @apply -rotate-180;
  }

  & svg {
    @apply size-full;
  }
}

.accordion__item {
  @apply relative border-none;

  @variant hide-separator {
    &::after {
      @apply hidden;
    }
  }
}

.accordion__item::after {
  content: "";
  @apply absolute bottom-0 left-0 h-px w-full rounded-xs bg-separator;
}

.accordion__item:last-child::after {
  @apply content-none;
}

.accordion__trigger {
  @apply flex flex-1 cursor-(--cursor-interactive) items-center justify-between px-4 py-4 text-left text-sm font-medium no-highlight;

  transition:
    opacity 150ms var(--ease-out),
    box-shadow 150ms var(--ease-out);
  @apply motion-reduce:transition-none;

  @variant hover {
    @variant collapsed {
      background-color: color-mix(
        in oklab,
        var(--foreground) 3%,
        transparent 90%
      );
    }
  }

  @variant focus-visible {
    @apply status-focused;
  }

  @variant disabled {
    @apply status-disabled;
  }
}

.accordion__panel {
  @apply overflow-clip opacity-0;
  height: var(--disclosure-panel-height);

  transition:
    height 200ms var(--ease-out-quad),
    opacity 200ms var(--ease-out);
  @apply motion-reduce:transition-none;

  @variant expanded {
    @variant expanded {
      @apply opacity-100;
      will-change: opacity, height;
    }
  }
}

.accordion--surface {
  @apply bg-surface;
  border-radius: min(32px, var(--radius-3xl));

  .accordion__trigger {
    @variant hover {
      @variant collapsed {
        @apply bg-default;
      }
    }
  }

  .accordion__item::after {
    @apply bg-surface-foreground/6;
  }
}

.accordion--surface .accordion__item {
  &::after {
    @apply left-[3%] w-[94%];
  }

  &:first-child [data-slot="accordion-trigger"] {
    border-top-left-radius: min(32px, var(--radius-3xl));
    border-top-right-radius: min(32px, var(--radius-3xl));
  }

  &:last-child:not(:has([data-slot="accordion-trigger"][aria-expanded="true"]))
    [data-slot="accordion-trigger"] {
    border-bottom-left-radius: min(32px, var(--radius-3xl));
    border-bottom-right-radius: min(32px, var(--radius-3xl));
  }
}
