[data-scrollbar="thin"] {
  --scrollbar-width: thin;
  --scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  --scrollbar-gutter: auto;
}

[data-scrollbar="default"] {
  --scrollbar-width: auto;
  --scrollbar-color: auto;
  --scrollbar-gutter: auto;
}

[data-scrollbar="none"] {
  --scrollbar-width: none;
  --scrollbar-color: auto;
  --scrollbar-gutter: auto;
}
